<form class="form" ng-controller="FormCtrl" ng-submit="submit()">
  <p class="bg-success" style="padding:15px;" ng-show="pass">User Accepted</p>
  <p class="bg-danger" style="padding:15px;" ng-show="fail">Requires values in all fields.</p>
  <h3>A Form</h3>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" ng-model="user.firstName" type="text" class="form-control" placeholder="Required">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input id="lastName" ng-model="user.lastName" type="text" class="form-control" placeholder="Required">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="user.acceptTerms"> Check it
    </label>
  </div>
  <button class="btn btn-primary" type="submit" value="Submit">Submit</button>

  <div class="jumbotron" style="margin:10px;">
    <p>{{user.firstName}} {{user.lastName}}</p>
  </div>
</form>